@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--inter-tight);
}

.dot {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--gray-6) 1px, transparent 1px);
  background-size: 16px 16px;
}
